@model DoctorAppo.Models.feedback
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>

    </title>
    <style>
        #adjust {
            height: 100px;
            width: 100px;
            overflow: hidden;
        }


        @@keyframes imageAnimation {
            0% {
                opacity: 0;
                animation-timing-function: ease-in;
            }

            8% {
                opacity: 1;
                animation-timing-function: ease-out;
            }

            17% {
                opacity: 1;
            }

            25% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @@keyframes titleAnimation {
            0% {
                opacity: 0;
            }

            8% {
                opacity: 1;
            }

            17% {
                opacity: 1;
            }

            19% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @@media screen and (max-width: 1140px) {
            .cb-slideshow li div h3 {
                font-size: 140px;
            }
        }

        @@media screen and (max-width: 600px) {
            .cb-slideshow li div h3 {
                font-size: 50px;
            }
        }

        .cb-slideshow,
        .cb-slideshow:after {
            /*position: fixed;*/
            width: 600px;
            height: 600px;
            top: 0px;
            left: 0px;
            z-index: 0;
        }
            /*.cb-slideshow:after {
            content: '';
            background: transparent url(../images/pattern.png) repeat top left;
        }*/
            .cb-slideshow li span {
                width: 1020px;
                height: 600px;
                position: absolute;
                margin: 0px 200px 0px 200px;
                top: 0px;
                left: 0px;
                color: transparent;
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                opacity: 0;
                z-index: 0;
                animation: imageAnimation 32s linear infinite 0s;
            }

            .cb-slideshow li div {
                z-index: 1000;
                position: absolute;
                bottom: 30px;
                left: 0px;
                width: 100%;
                text-align: center;
                opacity: 0;
                color: #fff;
                animation: titleAnimation 32s linear infinite 0s;
            }

                .cb-slideshow li div h3 {
                    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
                    font-size: 80px;
                    padding: 0;
                    line-height: 400px;
                }

            .cb-slideshow li:nth-child(1) span {
                background-image: url('../../home1.jpg');
            }

            .cb-slideshow li:nth-child(2) span {
                background-image: url('../../home2.jpg');
                animation-delay: 8s;
            }

            .cb-slideshow li:nth-child(3) span {
                background-image: url('../../home3.jpg');
                animation-delay: 16s;
            }

            .cb-slideshow li:nth-child(4) span {
                background-image: url('../../home4.jpg');
                animation-delay: 24s;
            }

            .cb-slideshow li:nth-child(2) div {
                animation-delay: 8s;
            }

            .cb-slideshow li:nth-child(3) div {
                animation-delay: 16s;
            }

            .cb-slideshow li:nth-child(4) div {
                animation-delay: 24s;
            }

        .no-cssanimations .cb-slideshow li span {
            opacity: 1;
           
        }
       
    </style>
</head>
<body style="background-color:powderblue">

    <div class="jumbotron" style="height:550px;background-color:powderblue">
        <div class="row">
            <div id="adjust">
                <ul class="cb-slideshow" style="list-style-type:none">
                    <li>
                        <span>Image 01</span>
                        <div>
                            <h3>#1 in Healthcare</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 02</span>
                        <div>
                            <h3>Always there for you</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 03</span>
                        <div>
                            <h3>The healing touch</h3>
                        </div>
                    </li>
                    <li>
                        <span>Image 04</span>
                        <div>
                            <h3>We care</h3>
                        </div>
                    </li>
                </ul>

                @*<h1>ASP.NET</h1>
                    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
            </div>

        </div>
    </div>
    <div class="container" style="margin-top:0px;">

        <div class="row" style="height:200px">
            <div class="col-md-4" style="background-color:#16a085;height:300px">
                <table>
                    <tr>
                        <td>
                            <img src="~/findyourdoctor.jpg" style="height:200px;width:200px" />
                        </td>
                        @*<h2>Getting started</h2>*@
                        <td>
                            <p>
                                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                enables a clean separation of concerns and gives you full control over markup
                                for enjoyable, agile development.
                            </p>
                            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                        </td>
                    </tr>
                    <tr>
                        

                    </tr>
                    <tr>

                    </tr>
                    <tr>

                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                @*<h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
            </div>
            <div class="col-md-4" style="background-color:#16a085;height:300px;width:30%">
                <table>
                    <tr>
                        <td>
                            <img src="~/findspecialities.jpg" style="height:200px;width:200px" />
                        </td>
                        <td>

                            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                        </td>
                    </tr>
                </table>
            </div>

            <br class='clear'>
        </div>
        <div class="row" style="margin-top:150px;height:250px;width:100%">
            <div class="col-md-4" style="height:300px;width:360px;background-color:#16a085;margin-top:30px;margin-right:7px">
                <table>
                    <tr>
                        <td>
                            <img src="~/healthinsuarnce.jpg" style="height:200px;width:200px;margin-top:10px" />
                        </td>
                        <td>
                            <p>
                                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                enables a clean separation of concerns and gives you full control over markup
                                for enjoyable, agile development.
                            </p>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-4" style="height:300px;width:360px;background-color:#16a085;margin-top:30px;margin-right:7px">
                <table>
                    <tr>
                        <td>
                            <img src="~/latest news.jpg" style="width:200px;height:200px;margin-top:20px" />
                        </td>
                        <td>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4" style="height:300px;width:360px;background-color:#16a085;margin-top:30px;">
                <table>
                    <tr>
                        <td>
                            <img src="~/wellness.jpg" style="width:200px;height:200px;margin-top:20px"/>
                        </td>
                        <td>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </td>
                    </tr>
                </table>
                
                
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Share Your Experience</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter UserName" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
</td>
                                <td>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter contact" } }) 
                                            @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            <select name="input_60" id="input_2_60" class="medium gfield_select" tabindex="7"><option value="" selected="selected" class="gf_placeholder">Country</option><option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="American Samoa">American Samoa</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Brazil">Brazil</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option><option value="Congo, Republic of the">Congo, Republic of the</option><option value="Costa Rica">Costa Rica</option><option value="Côte d'Ivoire">Côte d'Ivoire</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="East Timor">East Timor</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="French Polynesia">French Polynesia</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guam">Guam</option><option value="Guatemala">Guatemala</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Honduras">Honduras</option><option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India" selected="selected">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="North Korea">North Korea</option><option value="South Korea">South Korea</option><option value="Kosovo">Kosovo</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mexico">Mexico</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Palestine, State of">Palestine, State of</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Puerto Rico">Puerto Rico</option><option value="Qatar">Qatar</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome and Principe">Sao Tome and Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Sint Maarten">Sint Maarten</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Sudan, South">Sudan, South</option><option value="Suriname">Suriname</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan">Taiwan</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Togo">Togo</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States">United States</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican City">Vatican City</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Virgin Islands, British">Virgin Islands, British</option><option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option></select>​
                                            @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter country" } })
                                            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group" >
                                        
                                        <div class="col-md-10" style="width:800px;height:50px">
                                            @Html.TextAreaFor(model => model.feedback1, new { htmlAttributes = new {style = "width:800px;height:200px", @class = "form-control1",placeholder = "Enter Feedback" } })
                                            @Html.ValidationMessageFor(model => model.feedback1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contact, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contact, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.feedback1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.feedback1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.feedback1, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        

                            @*<div class="form-group">
                @Html.LabelFor(model => model.cGender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGender, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cGender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.iPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.iPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.iPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Security_Question, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Security_Question, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Security_Question, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
                        </div>
                }
                        @*<div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>*@


            </div>
            <div class="col-md-6">
                <h4>Testimonials</h4>
               
            </div>
        </div>

    </div>


</body>
</html>